/*
CSS Reset
http://meyerweb.com/eric/tools/css/reset/
*/





html, body {
  width: 100%;
  height: 100%;
  
}


#particles {
  background: #16a085;
  color: #fff;
  width: 100%;
  height: 100%;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

/* SMOOTH LOAD */ 

p,h1, #navbar-main, #principal {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.a-texto {color: #009688 !important}

.card-image{
  height: 200px !important; /* Your height here */
  overflow: hidden;
}
